# Res folder
res/
res/images/
res/sounds/

# Libraries
libs/

# Editor Stuff
.clangd

# CMake Stuff
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
compile_commands.json

# Build
bin/

# Build (Linux)
Makefile

# Windows
*.vcxproj
*.filters
*.sln
*.user
*.dir
.vs/
x64
Debug/
Release/
*.lib