# Editor Stuff
.clangd

# Libs emscripten provides
libs/AL
libs/GL
libs/KHR

# CMake Stuff
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
compile_commands.json

# Build
bin/jin

# Build (Linux)
Makefile

# Windows
*.vcxproj
*.filters
*.sln
*.user
*.dir
.vs/
x64
Debug/
Release/
*.lib
*.dll
